* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-007185);
  font-size: 14px;
  line-height: 20px;
}

a:hover {
  text-decoration: underline;
  color: var(--color-c7511f);
}

body {
  color: #0f1111;
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
}

/* colors */
.--bg-color-131921 {
  background-color: var(--color-131921);
}

.--bg-color-e47911 {
  background-color: var(--color-e47911);
}

.--bg-color-232f3e {
  background-color: var(--color-232f3e);
}

.--text-color-565959 {
  color: var(--color-565959);
}

.--text-color-ffffff {
  color: var(--color-ffffff);
}

.--text-color-b12704 {
  color: var(--color-b12704);
}

.--text-color-007600 {
  color: var(--color-007600);
}

.--text-color-555555 {
  color: var(--color-555555);
}

/* page */
.page {
  margin-top: 20px;
  width: 100vw;
  min-width: 958px;
  max-width: 1500px;
  margin: 0 18px 18px;
  position: relative;
}

/* nav */
.nav {
  min-width: 1000px;
}

.nav__top {
  height: 60px;
}
.nav__top-logo {
  background-image: url("../images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png");
  background-position: -10px -51px;
  width: 97px;
  height: 30px;
}

.nav__bottom {
  height: 39px;
}

/* breadcrumbs */
.breadcrumbs {
  padding: 0 16px;
  margin-top: 8px;
}

.breadcrumbs__link,
.breadcrumbs__arrow {
  margin-right: 5px;
  font-size: 12px;
}

.breadcrumbs__link:hover {
  color: unset;
}

/* sections */
.section {
  border-top: var(--color-cccccc) solid 1px;
  width: 100%;
}

.section--no-border {
  border: 0;
}

.section__header {
  color: var(--color-cc6600);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 4px;
}

/* product section */
.section__product {
  display: grid;
  grid-template-columns: minmax(max-content, 45%) minmax(245.75px, auto) 260px;
  column-gap: 20px;
}

.product__image-section-wrapper {
  position: sticky;
  top: 4px;
  height: max-content;
  margin-bottom: 20px;
}

.product__image-section {
  display: grid;
  grid-template-columns: max-content auto;
  height: max-content;
}

.product__big-image-box {
  height: 405px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 22px;
}

.product__big-image {
  background: url("../images/product-1.jpg") no-repeat center center / contain;
  width: 100%;
  height: 100%;
  min-width: 405px;
  min-height: 405px;
}

.product__big-image-box::after {
  content: "Roll over image to zoom in";
  text-align: center;
  color: var(--color-565959);
  width: 100%;
  min-height: 20px;
  transition: 0s;
  position: absolute;
  top: 100%;
  left: 0;
}

.product__big-image-box:hover::after {
  content: "Click image to open extended view";
}

.product__small-images-grid {
  width: fit-content;
  display: grid;
  grid-auto-rows: max-content;
  list-style: none;
  margin-right: 3px;
}

.product__small-image {
  height: 40px;
  width: 42px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  border: solid 1px var(--color-a2a6ac);
  border-radius: 2px;
  cursor: pointer;
  transition: 1ms;
}

.product__small-image:hover {
  border-color: var(--color-e77600);
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.product__small-image-1 {
  background-image: url("../images/product-1.jpg");
}

.product__small-image-2 {
  background-image: url("../images/product-2.jpg");
}

.product__small-image-3 {
  background-image: url("../images/product-3.jpg");
}

.product__small-image-4 {
  background-image: url("../images/product-4.jpg");
}

.product__small-image-5 {
  background-image: url("../images/product-5.jpg");
}

.product__small-image-6 {
  background-image: url("../images/product-6.jpg");
}

.product__h1 {
  font-size: 24px;
  line-height: 32px;
  word-break: break-word;
  font-weight: 400;
}

.product__raiting-box,
.product__raiting-stars-box {
  display: flex;
}

.product__raiting-box {
  flex-wrap: wrap;
}

.product__raiting-stars-box {
  margin-right: 9px;
}

.product__raiting-stars {
  height: 18px;
  width: 80px;
  background-image: url("https://m.media-amazon.com/images/S/sash/qgGRgelkhXwysfn.png");
  background-position: -84px -28px;
  background-size: 512px 256px;
  background-repeat: no-repeat;
}

.product__raiting-dropdown {
  background-image: url("https://m.media-amazon.com/images/S/sash/f9Cwl2OUDVHGXk8.png");
  margin: 5px 0 0 5.39px;
  width: 7px;
  height: 5px;
  background-position: -90px -5px;
  opacity: 0.6;
  background-size: 400px 900px;
  background-repeat: no-repeat;
}

.product__QA-link {
  border-left: var(--color-666666) 1px solid;
  padding-left: 5px;
  margin-left: 5px;
}

.product__price-box {
  display: grid;
  grid-template-columns: max-content auto;
}

.product__price-box-title {
  text-align: right;
  padding-right: 3px;
}

.product__price {
  font-size: 18px;
  line-height: 24px;
}
.product__coupon-tag {
  font-weight: 700;
  font-size: 11px;
  line-height: 1.05;
  padding: 4px 5px 4px 6px;
  border-radius: 3px 0 0 3px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  display: inline-block;
}

.product__coupon-tag::before,
.product__coupon-tag::after {
  content: "";
  border-width: 6px;
  border-style: dashed;
  border-color: transparent;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-bottom: 10px solid var(--color-e47911);
  position: absolute;
  right: -5px;
  bottom: 0;
}

.product__coupon-tag::after {
  content: "";
  border-top: 10px solid var(--color-e47911);
  border-bottom: 6px dashed transparent;
  top: 0;
}

.product__coupon-checkbox {
  vertical-align: middle;
  margin-left: 1px;
}

.product__color-container {
  width: 171px;
  display: grid;
  grid-template-areas:
    "color-box color-box color-box"
    "color-mandala color-petal color-purple";
  grid-template-columns: repeat(3, 1fr);
}

.product__color-box {
  padding-left: 2px;
  padding-bottom: 2px;
  grid-area: color-box;
}

.product__color-box::after {
  content: "Mandala";
  font-weight: 700;
  margin-left: 3px;
  transition: 1ms;
}

.product__color-mandala:hover ~ .product__color-box::after {
  content: "Mandala";
}

.product__color-petal:hover ~ .product__color-box::after {
  content: "Petal";
}

.product__color-purple:hover ~ .product__color-box::after {
  content: "Purple-blue Omber";
}

.product__color-card {
  height: 36px;
  width: 36px;
  border-radius: 2px;
  margin: 6px 4px 0;
  cursor: pointer;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product__color-mandala {
  border-color: var(--color-e77600);
  border-style: solid;
  border-width: 1px;
  background-image: url("../images/product-color-mandala.jpg");
  grid-area: color-mandala;
}

.product__color-petal {
  background-image: url("../images/product-color-petal.jpg");
  grid-area: color-petal;
}

.product__color-purple {
  background-image: url("../images/product-color-purple.jpg");
  grid-area: color-purple;
}

.product__descripition {
  list-style-position: inside;
}

/* frequently section */
