* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-007185);
  font-size: 14px;
  line-height: 20px;
}

a:hover {
  text-decoration: underline;
}

body {
  color: #0f1111;
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
}

/* colors */
.--bg-color-131921 {
  background-color: var(--color-131921);
}

.--bg-color-232f3e {
  background-color: var(--color-232f3e);
}

.--text-color-565959 {
  color: var(--color-565959);
}

/* page */
.page {
  margin-top: 20px;
  min-width: 996px;
  padding: 0 18px 18px;
  margin: 0 auto;
}

/* sections */
.section {
  border-top: var(--color-cccccc) solid 1px;
}

.section--no-border {
  border: 0;
}

/* nav */
.nav {
  min-width: 1000px;
}

.nav__top {
  height: 60px;
}
.nav__top-logo {
  background-image: url("../images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png");
  background-position: -10px -51px;
  width: 97px;
  height: 30px;
}

.nav__bottom {
  height: 39px;
}

/* breadcrumbs */
.breadcrumbs {
  padding: 0 16px;
  margin-top: 8px;
}

.breadcrumbs__link,
.breadcrumbs__arrow {
  margin-right: 5px;
  font-size: 12px;
}

/* product section */
.section__product {
  display: grid;
  grid-template-columns: 45% auto;
  margin-right: 270px;
}
.product__big-image-box {
  position: sticky;
}
.product__big-image {
  max-height: 405px;
  max-width: 405px;
}

.product__big-image-box::after {
  content: "Roll over image to zoom in";
  text-align: center;
  color: var(--color-565959);
  width: 100%;
  min-height: 20px;
  transition: 0s;
  position: absolute;
  top: 100%;
  left: 0;
}

.product__big-image-box:hover::after {
  content: "Click image to open extended view";
}

.product__h1 {
  font-size: 24px;
  line-height: 32px;
  word-break: break-word;
  font-weight: 400;
}
