:root {
  --color-ffffff: #ffffff;
  --color-cccccc: #cccccc;
  --color-a2a6ac: #a2a6ac;
  --color-666666: #666666;
  --color-565959: #565959;
  --color-555555: #555555;
  --color-141921: #141921;
  --color-131921: #131921;
  --color-0f1111: #0f1111;
  --color-242f3e: #242f3e;
  --color-232f3e: #232f3e;
  --color-b12704: #b12704;
  --color-c7511f: #c7511f;
  --color-cc6600: #cc6600;
  --color-e77600: #e77600;
  --color-e47912: #e47912;
  --color-e47911: #e47911;
  --color-f0c14b: #f0c14b;
  --color-a88734: #a88734;
  --color-9c7e31: #9c7e31;
  --color-846a29: #846a29;
  --color-007600: #007600;
  --color-007185: #007185;
}
